.cartItem{
    display:flex;
    width: 100%;
    justify-content: space-evenly;
    padding:20px;
    background-color: rgb(236, 238, 241);
    margin:10px;
    border-radius: 15px;
}
.cartItem-img > img{
    width:75px;
    height:75px;
    padding: 5px;

}
.cartItem-title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    font-weight: bolder;
    padding: 5px;
    text-align: center;
}
.cartItem-price{
    font-size: 16px;
    font-weight: bold;
    
}
.cartItem-total{
    font-size: 20px;
    font-weight: bold;

}
.cartItem-total-btns > button {
    margin:10px;
    width:35px;
    height:35px;
    font-size: 1em;
    font-weight: bolder;
    border: none;
    background-color: rgba(0, 187, 255, 0.864);
    border-radius: 10px;
    cursor: pointer;
}
.cartItem-total-btns > button:hover{
    opacity: 0.5;
}